/* MENU */
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.navigation > ul > li {
    display: inline-block;
}

.navigation > ul > li > a {
    text-decoration: none;
    color: var(--color-secundary);
    line-height: 40px;
    margin-right: 10px;
    font-weight: 600;
    padding: 0 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navigation > ul > li > a:hover {
    padding: 10px 5px;
    border-bottom: solid 3px;
    transition-duration: 0.3s;
}

#brand {
    display: flex;
    margin-right: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#brand > h1{
    color: var(--color-primary);
    font-size: large;
    font-weight: 800;
}

#brand > img{
    display: inline;
    height: 60px;
    margin-right: 20px;
    align-items: center;
}

.button {
    background-color: var(--color-secundary);
    color: var(--text-color-light);
    margin-left: 30px;
    border: none;
    border-radius: 30px;
    width: 10%;
    height: 50%;
}

/* TABBER */
.tabber{
    background-color: antiquewhite;
    width: 80%;
    margin: 25px auto;
}

.fauna .flora{
    margin-left:130px;
}

.tab-primary{
    width: 130px;
}

.tab-secundary{
    display: none;
}

.description{
    display: none;
}

.contact{
    display: flex;
    justify-content: space-around;
}
.first-column .second-column{
    margin-right: 50px;
}