@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --text-color-light: #ffffff;
    --text-color-dark: #000000;
    --color-primary: #A90B13;
    --color-primary-complement: #5C0308;
    --color-secundary: #2A6B36;
    --color-secundary-complement: #0CA834;
    --color-secundary-shadow: #076b201b;
    --color-details: #00000028;
    --color-bg-details: #DEDEDE;
    --font-primary:'Roboto', sans-serif;
    --font-secundary: 'Palanquin Dark', Sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 2vh auto;
    font-family: var(--font-primary);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
    height: 80px;
}

.contact {
    display: table-row;
}

.footer {
    display: table-row;
    align-items: center;
    justify-content: center;
}