@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --text-color-light: #ffff;
    --text-color-dark: #0000;
    --color-primary: #A90B13;
    --color-secundary: #2A6B36;
    --color-bg-details: #DEDEDE;
    --font-primary:'Roboto', sans-serif;
    --font-secundary: 'Palanquin Dark', Sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
                         "article picture"
                         "article picture"
                         "contact contact"
                         "footer footer";
    width: 80%;
    margin: 25px auto;
    font-family: var(--font-primary);
}

.header{
    background-color: antiquewhite;
    grid-area: header;
    font-family: var(--font-primary);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    background-color: antiquewhite;
    grid-area: contact;
    display: table-row;
}

.footer{
    background-color: antiquewhite;
    grid-area: footer;
    display: table-row;
    align-items: center;
    justify-content: space-around;
}