@media screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
    .header {
        justify-content: space-between;
        margin: 0 2% 2% 2%;
    }

    /* MENU */
    .navigation > ul {
        font-size: small;
    }
    #donate {
        display: none;
    }
    #donate-mobile {
        display: block;
    }

    /*HOME*/
    .home-principal {
        height: 60vh;
    }

    .home-info {
        width: 45vw;
    }

    .ajude-button {
        width: 10vw;
        height: 3vh;
    }

    .home-media-icon {
        width: 9vw;
    }

    .media-divider {
        margin: 0 1vw 0 2vw;
    }

    .home-action > h1, .home-help > h1  {
        font-size: x-large;
        font-weight: 700;
        text-transform: uppercase;
        margin: 2vh 0 1vh 0;
    }

    .home-help > h2 {
        font-size: large;
        text-align: center;
    }

    .home-action-tab > div > h1, .home-help-tab > div > h1 {
        margin: 2vh 0 1vh 0;
        font-size: medium;
        text-transform: uppercase;
        font-weight: 600;
    }

    .home-action-tab > div > h2, .home-help-tab > div > h2 {
        text-align: center;
        font-size: medium;
        font-weight: 400;
    }

    .midia, .fauna-flora, .cuidados {
        height: 45vh;
    }

    .camisetas, .canecas, .ajude-nos {
        width: 27vw;
        height: 40vh;
    }

    .saiba-mais {
        width: 15vw;
        height: 3vh;
    }

    /*CONTACT*/
    .contact {
        align-items: baseline;
    }
    .contact-column {
        width: 50%;
    }
    .contact-text {
        text-align: center;
    }
    .first-column {
        margin-left: 10%;
    }
    .first-column > h2, .second-column > h2 {
        text-transform: uppercase;
        font-size: larger;
    }
    .back-top {
        display: none;
    }

    /*SOBRE O MATO*/
    .tablink, .sub-tablink {
        width: 18vw;
    }
    .flora {
        display: inline-block;
    }
    .tab-intro {
        margin-right: 2vw;
    }
    .tablink {
        display: inline-flex;
        flex-flow: row wrap;
        width: 20.1vw;
    }

    .tab-primary-one {
        display: none;
    }
    .tab-primary-one-mobile {
        display: block;
    }
    .tab-primary-two {
        display: none;
    }
    .tab-primary-two-mobile {
        display: flex;
        width: 98%;
        justify-content: flex-end;
        margin-right: 15px;
    }
    .tab-secundary-mamiferos, .tab-secundary-repteis, .tab-secundary-aves {
        display: none;
    }
    .tab-secundary-mamiferos-mobile {
        display: block;
    }
    .tab-secundary-repteis-mobile, .tab-secundary-aves-mobile {
        display: none;
    }

    .tab-intro {
        text-align: justify;
    }

    .description-main > h2, .description > h2, .sub-description > h2 {
        color: var(--text-dark);
        font-size: large;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 7px 0;
    }

}

@media screen and (max-width: 900px) {
    /*MENU*/
    #brand > h1 {
        display: none;
    }
    #brand > h2 {
        display: block;
    }
    .navigation {
        display: none;
    }
    #donate {
        display: none;
    }
    #donate-mobile {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    /* MENU */
    .menu-toggle {
        display: block;
        position: relative;
        top: 10vh;
        margin: 20% 0 0 25%;
    }
    .menu {
        width: 38vw;
        position: relative;
        right: 65px;
    }

    /*HOME*/
    .home-action-tab, .home-help-tab {
        /*background-color: antiquewhite;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
    }

    .home-info {
        width: 50vw;
    }

    .home-info > h3 {
        display: none;
    }

    .ajude-button {
        width: 20vw;
        height: 4vh;
    }

    .home-media-icon {
        width: 15vw;
    }

    .media-divider {
        margin: 0 2vw 0 4vw;
    }
    
    .midia, .fauna-flora, .cuidados {
        width: 80vw;
        height: 45vh;
    }

    .camisetas, .canecas, .ajude-nos {
        width: 70vw;
        height: 48.5vh;
        margin-top: 2vh;
    }

    .saiba-mais {
        width: 30vw;
        height: 2.5vh;
        margin-bottom: 1vh;
    }


    /*TABBER*/
    .tab-title {
        font-size: x-large;
    }
    .tab-intro {
        font-size: medium;
        margin-right: 2vw;
    }
    .flora, .fauna {
        display: inline-block;
    }
    .tablink {
        display: inline-flex;
        flex-flow: row wrap;
        width: 21.35vw;
    }
    .sub-tablink {
        display: inline-flex;
        flex-flow: row wrap;
        width: 43.5vw;
    }
    .main-tablink {
        width: 35%;
    }

    /* PAGE */
    .contact{
        display: none;
    }
    .footer{
        display: none;
    }
}