/*SUB MENU*/
.submenu {
    display: none;
    position: absolute;
    z-index: 10;
    list-style: none;
    box-shadow: 5px 5px 5px #CCC;
}

.with-submenu {
    position: relative;
    display: inline-block;
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu > li {
    background: var(--text-color-light);
    color: var(--color-secundary);
    border-bottom: 1px solid var(--color-secundary);
  
    padding: 1.2em 1em;
    transition: 0.3s all linear;
    display: block;
    line-height: 0%;
}

.submenu > li:hover {
    background: var(--color-secundary);
    color: var(--text-color-light);
}

.submenu > li:active {
    background: var(--text-color-light);
}

/* TABBER */

.tabber{
    display: table-column;
}

.tabber-flora {
    background-color: antiquewhite;
    display: flex;
    padding-left: 10px;
    width: 100%;
    margin: 25px auto;
}
.tabber-fauna {
    background-color: antiquewhite;
    display: table;
    padding-left: 10px;
    width: 100%;
    margin: 25px auto;
}

.tablink {
    color: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 20px;
    border: none;
}

/*.tablink > button:hover{
    color: #222;
    background-color: #fff;
    border: none;
}*/

.sub-tablink {
    color: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 20px;
    border: none;
}

.tab-primary-one{
    display: column;
}

/* Fichario */
.tab-primary-two{
    display: flex;

}

.tab-secundary {
    display: none;
}

.tab-title{
    color: var(--text-dark);
}

.description {
    display: none;
    color: var(--text-dark);
    background: var(--text-color-light);
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
    padding: 20px 20px 10px;
    margin-top: 10px;
    position: relative;
}

.sub-description {
    display: none;
    color: var(--text-dark);
    background: var(--text-color-light);
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
    padding: 20px 20px 10px;
    margin-top: 10px;
    position: relative;
}

.description > h2 {
    color: var(--text-dark);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
.sub-description > h2 {
    color: var(--text-dark);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}

/* BACK TO TOP */

.back-top {
    background-color: var(--color-secundary);
    color: var(--text-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 50px;
    z-index: 99;
    font-size: 15px;
    border: none;
    padding: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 95%; 
    margin-top: calc(100vh + 50px);
    cursor: pointer;
  }

  .back-top:hover {
    background-color: var(--color-primary);
    border: none;
    transition: all 0.3s ease;
  }