/*SUB MENU*/
.submenu {
    display: none;
    position: absolute;
    z-index: 10;
    list-style: none;
    box-shadow: 5px 5px 5px #CCC;
}

.with-submenu {
    position: relative;
    display: inline-block;
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu > li {
    background: var(--text-color-light);
    color: var(--color-secundary);
    border-bottom: 1px solid var(--color-secundary);
  
    padding: 1.2em 1em;
    transition: 0.3s all linear;
    display: block;
    line-height: 0%;
}

.submenu > li:hover {
    background: var(--color-secundary);
    color: var(--text-color-light);
}

.submenu > li:active {
    background: var(--text-color-light);
}

/* TABBER */

.tabber{
    display: flex;
    flex-direction: column;
    width: 200%;
}

.tabber-flora {
    background-color: antiquewhite;
    display: flex;
    padding-left: 10px;
    margin: 25px auto;
}

.tabber-fauna {
    background-color: antiquewhite;
    display: flex;
    padding-left: 10px;
    width: 100%;
    margin: 25px auto;
}

.tablink, .sub-tablink {
    background-color: var(--text-color-light);
    color: var(--text-dark);
    display: flex;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    width: 30%;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    outline: none;
    border: none;
    vertical-align: middle;
    padding: 0;
}

.transition {
    background-color: var(--color-secundary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 1rem;
    height: 3rem;
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.text-name {
    color: var(--text-color-dark);
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1rem;
    font-weight: 700;
    line-height: 1.6;
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
   
button:hover .text-name {
    color: var(--text-color-light);
    margin: 0 0 0 0;
}

button:hover .transition {
    width: 100%;
}

.main-tablink {
    background: var(--text-color-light);
    color: var(--text-color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    width: 20%;
    height: 2.5rem;
}

/*outro span transition*/
.folder {
    background-color: var(--color-secundary);
}

.folder-name {
    color: var(--text-color-dark);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.6;
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

button:hover .folder-name {
    color: var(--text-color-light);
}

/* Fichario */
.tab-primary-two {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.tab-secundary-repteis, .tab-secundary-aves {
    display: none;
}

.fauna{
    color: var(--text-color-dark);
}

.tab-title {
    color: var(--text-dark);
    font-size: larger;
    text-transform: uppercase;
    margin-top: 1vw;
}

.tab-intro{
    margin: 1vw 1vw;
}

.description-main{
    color: var(--text-dark);
    background: var(--text-color-light);
    width: 50%;
    font-size: 15px;
    line-height: 25px;
    padding: 20px 20px 10px;
    margin-top: 10px;
}

.description {
    display: none;
    color: var(--text-dark);
    background: var(--text-color-light);
    width: 50%;
    font-size: 15px;
    line-height: 25px;
    padding: 20px 20px 10px;
    margin-top: 10px;
}

.sub-description {
    display: none;
    color: var(--text-dark);
    background: var(--text-color-light);
    width: 50%;
    font-size: 15px;
    line-height: 25px;
    padding: 20px 20px 10px;
    margin-top: 10px;
}

.description > h2 {
    color: var(--text-dark);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
.description-main > h2 {
    color: var(--text-dark);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}

.sub-description > h2 {
    color: var(--text-dark);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}

/* BACK TO TOP */

.back-top {
    background-color: var(--color-secundary);
    color: var(--text-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 50px;
    z-index: 99;
    font-size: 15px;
    border: none;
    padding: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 95%; 
    margin-top: calc(100vh + 50px);
    cursor: pointer;
  }

  .back-top:hover {
    background-color: var(--text-color-light);
    color: var(--color-secundary);
    border: solid 2px;
    font-weight: 600;
    transition-duration: 0.5s;
  }